<div class="mdl-card mdl-shadow--3dp mdl-cell
            mdl-cell--{{include.grid        | default: 4}}-col
            mdl-cell--{{include.grid_tablet | default: 4}}-col-tablet
            mdl-cell--{{include.grid_phone  | default: 4}}-col-phone
            ">
    <div class="mdl-card__supporting-text mdl-card--expand">
        {{include.description}}
    </div>
    <div class="mdl-card__actions mdl-card--border">
        <a href="{{include.url}}" class="mdl-button">See {{include.type}}</a>
    </div>
</div>
