<footer class="mdl-mini-footer">
  <div class="mdl-mini-footer__left-section">
    <div class="mdl-logo">{{ site.title }}</div>
    <ul class="mdl-mini-footer__link-list">
      {% if site.github_username %}
        <li>
            <a href="https://github.com/{{site.github_username}}">
                <i class="fa fa-github"></i> {{site.github_username}}
            </a>
        </li>
      {% endif %}

      {% if site.twitter_username %}
        <li>
            <a href="https://twitter.com/{{site.twitter_username}}">
                <i class="fa fa-twitter"></i> {{site.twitter_username}}
            </a>
        </li>
      {% endif %}
    </ul>
  </div>
</footer>
