<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>{{ page.tab_title | default: page.title | default: site.title | escape }}</title>
    <meta name="application-name" property="og:title" content="{{ page.tab_title | default: page.title | default: site.title | escape }}" />

    <link rel="canonical" href="{{ page.canonical_url | default: page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    <meta property="og:url" content="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}" />

    <meta property="og:site_name" content="{{ site.title }}"/>

    <meta name="description" property="og:description" content="{{ page.excerpt | default: site.description | strip_html | normalize_whitespace | truncate: 160 | escape }}">
    <meta name="author" property="og:author" content="{{ site.author | default: site.title }}" />

    <meta property="og:type" content="website" />

    <!-- Add to homescreen -->
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">

    <link rel="icon" href="/favicon.ico | prepend: site.baseurl" />

    <!-- See https://gist.github.com/AnotherKamila/365f98406eea74a3c523bfde08c6db48 for custom MDL -->
    <link rel="stylesheet" href="{{ "/assets/mdl/material.min.css" | prepend: site.baseurl }}" />
    <script defer src="{{ "/assets/mdl/material.min.js" | prepend: site.baseurl }}"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:400,700&subset=latin-ext" type="text/css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">

    <link rel="stylesheet" href="{{ "/assets/main.css" | prepend: site.url }}">

    {% if page.add_to_head %}
    {{ page.add_to_head }}
    {% endif %}
</head>
