<header class="site-header" role="banner">

  <nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse">

    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbar-sitenav" aria-controls="navbar-sitenav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <span class="site-title">
      <a href="{{ site.url }}">{{ site.title | escape }}</a>{% if page.canonical_url %}<a href="{{ page.canonical_url }}">{{ page.canonical_url | escape }}</a>{% endif %}
    </span>

    <div class="collapse navbar-collapse" id="navbar-sitenav">
      <ul class="navbar-nav mr-auto">

        {% for item in site.pages %}
          {% assign canonical = item.canonical_url | append: '/' %}
          {% if item.title and item.url == canonical and item.url != page.url %}
            <li class="nav-item">
              <a class="nav-link" href="{{ item.url | prepend: site.url }}">
                {{ item.canonical_url | escape }}
                <br />
                <small>{{ item.title | escape }}</small>
              </a>
            </li>
          {% endif %}
        {% endfor %}

        <!-- end of generated -->

        {% for item in site.add_to_nav %}
          <li class="nav-item">
            <a class="nav-link" href="{{ item[0] | prepend: site.url }}">
              {{ item[0] | escape }}
              <br />
              <small>{{ item[1] | escape }}</small>
            </a>
          </li>
        {% endfor %}

      </ul>
    </div>
  </nav>

</header>
