<header class="mdl-layout__header site-header">
    <div class="mdl-layout__header-row">
        <span class="mdl-layout__title">
            <span class="site-title">

                <a href="{{ '/' | prepend: site.baseurl | prepend: site.url }}">{{site.title}}</a>
                {% assign urlcrumbs = page.canonical_url | default: page.url | split: '/' %}
                {% assign crumbs_till_here = '' | split: '' %}
                {% for crumb in urlcrumbs %}
                    {% if crumb != '' %}
                        /
                        {% assign crumb_array = crumb | split: ' ' %}
                        {% assign crumbs_till_here = crumbs_till_here | concat: crumb_array %}
                        {% assign url_till_here = crumbs_till_here | join: '/' %}
                        <a href="{{url_till_here | prepend: '/' }}">{{crumb}}</a>
                    {% endif %}
                {% endfor %}

            </span>
        </span>
        <div class="mdl-layout-spacer"></div>
        <nav class="mdl-navigation mdl-layout--large-screen-only">
            {% include nav_links.html %}
        </nav>
    </div>
</header>
<div class="mdl-layout__drawer mdl-layout--small-screen-only">
    <span class="mdl-layout__title">
        <a href="{{site.url}}">{{ site.title }}</a>
    </span>
    <nav class="mdl-navigation">
        {% include nav_links.html %}
    </nav>
</div>
