---
# Only the main Sass file needs front matter (the dashes are enough)
---

/* @import 'custom'; */

.content {
    width: 96%;
    max-width: 60em;
    margin: 3em auto;
}

.content {
    font-size: 17px;
    line-height: 1.6em;
}

.site-title a {
    color: #fff;
    text-decoration: none;
}

.site-title a:hover {
    color: #859900;
}

.site-header .mdl-layout__header-row {
    padding-left: 64px;
}

.mdl-card .title-link {
    text-decoration: none;
}

.posts-list .mdl-card__actions {
    display: flex;
    box-sizing:border-box;
    align-items: center;
    padding-left: 16px;
    padding-right: 16px;
}
.mdl-card .meta {
    color: #a9a9a9;
    display: inline-block;
    font-size: 14px;
    margin: 0 8px 0 0;
    text-transform: uppercase;
}
