---
# Only the main Sass file needs front matter (the dashes are enough)
---
@import 'custom';
@import 'bootstrap';
@import 'site_nav';

$z-index-navbar: 10;

.site-header {
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: $z-index-navbar;
}

body > .site-header + .container {
    padding: 6em 15px 0;
}

.collapse.in { // some stupid thing doesn't add .show... but does add .in :D
    display: block;
}

.container {
    max-width: 720px;
}
