@import url('https://fonts.googleapis.com/css?family=Lato:400,400i,700,700i&subset=latin-ext');
@import url('https://fonts.googleapis.com/css?family=PT+Sans:700|Inconsolata:400,700');
body {font-family: 'Lato', sans-serif; color: #002b36; text-rendering: optimizeLegibility;}
h1, h2, h3 {font-family: 'PT Sans', sans-serif; color: #586e75;}
pre, code {font-family: 'Input', 'Inconsolata', monospace; font-size: 0.8em}

.remark-slide-content {
    padding: 0.8em 2.4em;
    font-size: 30px;
    cursor: url(./img/laserdot.png), auto;
}
.remark-code { font-size: 0.8em; }
.remark-inline-code {
    border: 1px solid #eee;
    background: #f9f9f9;
    padding: 0 0.2em;
}
.remark-slide-number {font-size: 0.6em;}
.remark-slide-content h1 {font-size: 52px;}

li ul {margin: 0.2em 0;}
.expanded li {margin: 0.5em 0;}
.expanded1 li {margin: 0.5em 0;}
.expanded1 li ul li {margin: 0;}
.no-margins p,
.no-margins ul,
.no-margins ul li {
    margin-top: 0;
    margin-bottom: 0;
}

.floatleft {float: left; margin-right: 1.6em;}
.floatright {float: right; margin-left: 1.6em;}
.margin0 {margin: 0;}
.indent {margin-left: 40px;}
.indenthalf {margin-left: 20px;}
.small {font-size: 0.8em;}
.large {font-size: 1.6em;}
.huge  {font-size: 3em;}
.effinghuge  {font-size: 6em;}
.footnote {font-size: 0.6em;}

.half {width: 50%;}
.half img {width: 100%;}
.contrast {
    background: #002b36;
    color: #839496;
}
.contrast h1,
.contrast h2,
.contrast h3 {color: #b3c1c1;}
.contrast strong {color: #b3c1c1;}
.remark-slide-content.tall {padding-top: 0;}
.remark-slide-content.narrow {padding-left: 5em; padding-right: 5em;}

h6 {
    text-transform: uppercase;
    font-size: 0.6em;
    margin: 0.4em 0 0.2em 0;
}

.green {color: #859900;}
.red {color: #dc322f;}
.blue {color: #268bd2;}
.light {color: #839496;}
.nobold {font-weight: normal;}
.hl {color: #268bd2;}

.qrcode img {max-width: 160px;}

.width100 {width: 100%; display: inline-block; }
.width95  {width:  95%; display: inline-block; }
.width90  {width:  90%; display: inline-block; }
.width80  {width:  80%; display: inline-block; }
.width70  {width:  70%; display: inline-block; }
.width65  {width:  65%; display: inline-block; }
.width60  {width:  60%; display: inline-block; }
.width50  {width:  50%; display: inline-block; }
.width45  {width:  45%; display: inline-block; }
.width40  {width:  40%; display: inline-block; }
.width35  {width:  35%; display: inline-block; }
.width30  {width:  30%; display: inline-block; }
.width100 img,
.width95  img,
.width90  img,
.width80  img,
.width70  img,
.width65  img,
.width60  img,
.width50  img,
.width45  img,
.width40  img,
.width35  img,
.width30  img {
    display: inline-block;
    width: 100%;
}
.trans80 { opacity: 0.8; }
.pushup {margin-top: -1.6em;}
.pushuplots {margin-top: -2.6em;}

.centerblock {display: block; margin: 0 auto;}
.displayinlineblock {display: inline-block;}
.rel {position: relative;}

.circlist ol {
    list-style-type: none;
}
.circlist ol li {
    counter-increment: circlistcounter;
    position: relative;
}
.circlist ol li::before {
    font-size: 0.8em;
    font-weight: bold;
    content: counter(circlistcounter);
    background: #268bd2;
    color: white;
    display: inline-block;
    width: 1em;
    height: 1em;
    line-height: 1;
    border-radius: 5em;
    padding: 0.1em;
    text-align: center;
    position: absolute;
    left: -1.5em;
    top: 0.3em;
}

.TODO {color: red;}
.TODO::before { content: 'TODO'; font-weight: bold; background: red; color: white; padding: 0 0.2em; border-radius: 0.2em; margin-right: 0.3em; font-size: 0.8em; }
