<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <title>{{ page.title | default: site.title | escape }}</title>

        <link rel="stylesheet" type="text/css" href="{{ "/style.css" | prepend: site.url }}" />

        {% if page.add_to_head %}{{ page.add_to_head }}{% endif %}
    </head>

    <body>
        <div class="container">
            <header class="page-header">
                {% if page.title %}<h1>{{page.title}}</h1>{% endif %}
                {% if page.subtitle %}<span class="text-muted">{{page.subtitle}}</span>{% endif %}
            </header>
            {{ content }}
        </div>
    </body>
</html>

